.wrapper {
  width: 50%;
  background-color: #16B231;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.road-left {
  background-color: #565656;
  width: 20%;
  height: 10vh;
}

.road-right {
  background-color: #565656;
  width: 20%;
  height: 10vh;
}

.finish-line {
  background: linear-gradient(to bottom, #565656 90%, #fff);
  height: 10vh;
  width: 20%;
}

.car-left {
  background: #565656 url('blue-car.svg') center no-repeat;
  background-size: contain;
  width: 20%;
  height: 10vh;
}

.car-right {
  background: #565656 url('red-car.svg') center no-repeat;
  background-size: contain;
  width: 20%;
  height: 10vh;
}

.left-track {
  align-items: flex-end;
}

.right-track {
  align-items: flex-start;
}

.control-panel {
  position: absolute;
  background-color: #000;
  color: white;
  width: 25%;
  opacity: .8;
  padding: 3%;
  border: 1px solid #fff;
  margin: 2%;
}

.control-panel button {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  color: white;
  padding: 2%;
}

.control-panel button:hover {
  background-color: #333;
  transition: .3s;
}

